      /* Pagina Home */
img.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1 {
  color: dimgrey;
  margin-top: -10px;
  margin-left: 35px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  img.logo {
    max-width: 80%;
  }

  h1 {
  color: dimgrey;
  font-size: 1.5em;
  text-align: center;
  }
}

body {
  background-image: url(../img/fondo5.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-index {
  height: 490px;
}

footer {
  background-color: beige;
  text-align: center;
  font-size: small;
  margin-top: 70px;
}

ul {
  list-style: none;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

li {
  display: inline;
  padding: 10px;
}

ul li a {
  color: rgb(62, 61, 61);
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(203, 191, 176);
  border-radius: 5px;
  padding: 3px;
}

.titulo {
  margin-top: 10px;
  font-size: large; /* Cambiado el tamaño de fuente para dispositivos más pequeños */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(62, 61, 61);
  text-align: center;
  background-color: rgb(203, 191, 176);
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  ul {
    float: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    padding: 5px;
  }

  ul li a {
    display: block;
    margin-bottom: 10px;
  }
}


      /* Pagina Servicios */
.body-servicios {
  background-image: url(../img/fondoServicio.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.main-servicios {
  padding:1%;
  box-sizing: border-box;
  text-align: center;
}


.imagen-servicios img {
  width: 40%;
  height:auto;
  margin-top: 1.5%;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .main-servicios {
    padding: 10px;
  }
}


      /*Pagina Novedades*/
.body-novedades {
  background-image: url(../img/fondoNovedades.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Estilo para pantallas más grandes (ancho mínimo de 768px) */
@media (min-width: 768px) {
  .imagenes-novedades {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1%;
  }

  .imagen {
    text-align: center;
    margin-bottom: 10px;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagen img {
    max-width: 56%;
    height: auto;
    margin-bottom: 10px;
  }

  .imagen a {
    background-color: rgb(203, 191, 176);
    color: rgb(62, 61, 61);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 60%;
    text-align: center;
  }
}

/* Estilo para pantallas más pequeñas (ancho máximo de 767px) */
@media (max-width: 767px) {
  .imagenes-novedades {
    display: block;
    text-align: center;
  }

  .imagen {
    margin-bottom: 10px;
  }

  .imagen img {
    max-width: 100%;
    height: auto;
  }

  .imagen a {
    background-color: rgb(203, 191, 176);
    color: rgb(62, 61, 61);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
  }
}


      /* Pagina Contacto */
.body-contacto {
  background-image: url(../img/fondoContacto.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-contacto{
  height: 200px;
}

.mapa-contacto {
  margin-left: 990px;
  margin-top: -540px;
}

.formulario {
  margin-top: 280px;
  color: aliceblue;
}


      /*Pagina Blog*/
.body-blog {
  background-image: url(../img/fondoBlog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.main-blog {
  padding: 0%;
  box-sizing: border-box;
}

.video-pilates {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 27.500%;
  height: 0;
  overflow: hidden;
}

.video-pilates iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}